* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: darkolivegreen;
    color:lightgoldenrodyellow;
    padding: 10px;
    min-width: 375px;
}

h1{
    text-align: center;
}

button {
    cursor: pointer;
    padding: 3px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hidden {
    visibility: hidden;
}

.disable-pointer-events {
    pointer-events: none;
}

.messages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    height: 52px;
}

.pots-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin: 0 auto;
    flex-direction: row;
    width: 90%;
    max-width: 600px;
}

.player-container, 
.pot-container,
.player-cards-container,
.dealer-cards-container,
.buttons-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    background: rgba(6, 53, 18, 0.5);
    width: 90%;
    max-width: 600px;
}

.player-cards-container,
.dealer-cards-container {
    height: 180px;
}

.player-container {
    height: 116px;
}

.player-chips-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-coins-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

}
.coin-1, .coin-10, .coin-100, .coin-500 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px
}

.coin-1 {
    background-color: white;
    color: black;
    border: 8px solid rgb(126, 156, 240);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.coin-10 {
    background-color: white;
    color: black;
    border: 8px dashed rgb(184, 192, 214);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.coin-100 {
    background-color: white;
    color: black;
    border: 8px solid rgb(121, 202, 161);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.coin-500 {
    background-color: white;
    color: black;
    border: 8px dashed rgb(47, 48, 49);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

/*.player-cards-container img:first-child{
    transform: rotate(-5deg);
}*/
.player-cards-container img,
.dealer-cards-container img {
    width: 106px;
    margin-left: -80px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}